<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBszac5ri_Iy_181GlEiRmNbsErX4RxL5s</string>
	<key>GCM_SENDER_ID</key>
	<string>132333038544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.identicare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>identicare-c3f80</string>
	<key>STORAGE_BUCKET</key>
	<string>identicare-c3f80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132333038544:ios:fdc818a48e8346eaa3e7d5</string>
</dict>
</plist>